<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" >
    <title>@ViewData["Title"] - TaxiMalinWebApp</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" >
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" >
    <link rel="stylesheet" href="~/TaxiMalinWebApp.styles.css" asp-append-version="true" >
    <link rel="apple-touch-icon" sizes="57x57" href="~/images/favicon/apple-icon-57x57.png" >
    <link rel="apple-touch-icon" sizes="60x60" href="~/images/favicon/apple-icon-60x60.png" >
    <link rel="apple-touch-icon" sizes="72x72" href="~/images/favicon/apple-icon-72x72.png" >
    <link rel="apple-touch-icon" sizes="76x76" href="~/images/favicon/apple-icon-76x76.png" >
    <link rel="apple-touch-icon" sizes="114x114" href="~/images/favicon/apple-icon-114x114.png" >
    <link rel="apple-touch-icon" sizes="120x120" href="~/images/favicon/apple-icon-120x120.png" >
    <link rel="apple-touch-icon" sizes="144x144" href="~/images/favicon/apple-icon-144x144.png" >
    <link rel="apple-touch-icon" sizes="152x152" href="~/images/favicon/apple-icon-152x152.png" >
    <link rel="apple-touch-icon" sizes="180x180" href="~/images/favicon/apple-icon-180x180.png" >
    <link rel="icon" type="image/png" sizes="192x192" href="~/images/favicon/android-chrome-192x192.png"  >
    <link rel="icon" type="image/png" sizes="32x32" href="~/images/favicon/favicon-32x32.png" >
    <link rel="icon" type="image/png" sizes="96x96" href="~/images/favicon/android-icon-96x96.png"  >
    <link rel="icon" type="image/png" sizes="16x16" href="~/images/favicon/favicon-16x16.png"  >
    <link rel="manifest" href="~/images/favicon/manifest.json">
    @*ICONE WINDOWS*@
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="/ms-icon-144x144.png">
    @*<meta name="google-site-verification" content="DN3PsHaAPDaY9rwKVLKM1l4iAtgbAXIuiV4_KK3TBgQ" />*@
    <meta name="theme-color" content="#ffffff">
    <meta name="description" content="Navette Essonne direction aéroport, gares et point touristique : Orly, Charles de Gaulle, Beauvais, Massy Palaiseau, Evry, Etampes, Arpajon, Bretigny, sainte genevieve des bois" />
    <link rel="stylesheet" href="~/css/style.css" asp-append-version="true">
    <link rel="stylesheet" href="~/css/responsive.css" asp-append-version="true">
    <script src="https://kit.fontawesome.com/d82596a3e1.js" crossorigin="anonymous" asp-append-version="true"></script>
    <link href="font-awesome/css/all.css" rel="stylesheet" >
</head>
<body>
    <header class="site-header header-two">
        <div class="top-bar">
            <div class="container">
                <div class="inner-container">
                    <div class="logo-block">
                        <a asp-controller="home" asp-action="index"><img src="~/images/resources/malinDegrade.png" alt="Awesome Image" style="height:150px;width:162px" /></a>
                        </div><!-- /.logo-block -->

                    <div class="right-block">
                        <ul class="contact-infos">
                           
                            <li><a href="mailto:taximalin@gmail.com"><i class="fa fa-envelope"></i> taximalin@gmail.com</a></li>
                            <li class="social-block">
                                <a href="#"><i class="fa fa-instagram"></i></a>
                                <a href="#"><i class="fa fa-facebook"></i></a>
                            </li>
                        </ul><!-- /.contact-infos -->
                    </div><!-- /.right-block -->
                </div><!-- /.inner-container -->
            </div><!-- /.container -->
        </div><!-- /.top-bar -->
        <nav class="navbar navbar-expand-lg navbar-light header-navigation stricky">
            <div class="container clearfix">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="logo-box clearfix">
                    <button class="menu-toggler" data-target="#main-nav-bar">
                        <span class="fa fa-bars"></span>
                    </button>
                </div><!-- /.logo-box -->
                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="main-navigation" id="main-nav-bar">
                    <ul class="navigation-box">
                        <li class=" current "><a asp-controller="home" asp-action="index">Home</a></li>
                        <li><a asp-controller="home" asp-action="Services">Service</a></li>
                        <li><a asp-controller="home" asp-action="Apropos">A propos</a></li>
                        <li><a asp-controller="home" asp-action="ReserverCourse">Reserver</a></li>
                        <li><a asp-controller="home" asp-action="Contact">Contact</a></li>
                        <li><a asp-controller="home" asp-action="Faq">F.A.Q</a></li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Zone Geographique</a>
                            <div class="dropdown-menu sub-menu">
                                <h1 style="font-size:1em;"><a class="dropdown-item" href="#" style="color:grey;text-decoration:none">Arpajon</a></h1>
                                <h1 style="font-size:1em;"><a class="dropdown-item" href="#" style="color:grey;text-decoration:none">Bretigny-sur-Orge</a></h1>
                                <h1 style="font-size:1em;"><a class="dropdown-item" href="#" style="color:grey;text-decoration:none">Corbeil-Essonne</a></h1>
                                <h1 style="font-size:1em;"><a class="dropdown-item" href="#" style="color:grey;text-decoration:none">Etampes</a></h1>
                                <h1 style="font-size:1em;"><a class="dropdown-item" href="#" style="color:grey;text-decoration:none">Evry</a></h1>
                                <h1 style="font-size:1em;"><a class="dropdown-item" href="#" style="color:grey;text-decoration:none">Ris-Orangis</a></h1>
                                <h1 style="font-size:1em;"><a class="dropdown-item" href="#" style="color:grey;text-decoration:none">Sainte-Genevieve-des-Bois</a></h1>
                                <h1 style="font-size:1em;"><a class="dropdown-item" href="#" style="color:grey;text-decoration:none">Savigny sur Orge</a></h1>
                            </div>
                        </li>
                     </ul>
                </div><!-- /.navbar-collapse -->
                <div class="right-side-box">
                    <a href="callto:+330613542724" class="contact-btn-block">
                        <span class="icon-block"><i class="fa fa-phone-square"></i></span>
                        <span class="text-block">
                            06-13-54-27-24
                        </span>
                    </a>
                </div><!-- /.right-side-box -->
            </div><!-- /.container -->
        </nav>
    </header><!-- /.site-header header-one -->
    <div>
        
            <main role="main" class="pb-3">
                @RenderBody()
            </main>
       
           
       
      
    </div>

    <footer class="site-footer footer ">

       
        
        <img src="~/images/background/daniel-monteiro-47VpDiZzzEQ-unsplash.jpg" style="width:657px;height:663px" class="footer-bg" alt="Awesome Image" />
        <div class="upper-footer">
            <div class="container">
                <div class="row">
                    <div class="col-lg-3">
                        <div class="footer-widget about-widget">
                            <div class="widget-title">
                                <h3>A propos</h3>
                            </div><!-- /.widget-title -->
                            <p>Course fixe, tarif fixe, taxi malin</p>
                            <div class="social-block">
                                <a href="#"><i class="fa fa-instagram"></i></a>
                                <a href="#"><i class="fa fa-facebook"></i></a>
                            </div><!-- /.social-block -->
                        </div><!-- /.footer-widget about-widget -->
                    </div><!-- /.col-lg-3 -->
                    <div class="col-lg-2">
                        <div class="footer-widget">
                            <div class="widget-title">
                                <h3>Liens</h3>
                            </div><!-- /.widget-title -->
                            <ul class="link-lists">
                                <li><a asp-controller="home" asp-action="index">A propos</a></li>
                                <li><a asp-controller="home" asp-action="ReserverCourse">Reserver un taxi</a></li>
                                <li><a asp-controller="home" asp-action="Contact">Contact</a></li>
                            </ul>
                        </div><!-- /.footer-widget -->
                    </div><!-- /.col-lg-2 -->
                    <div class="col-lg-3">
                        <div class="footer-widget">
                            <div class="widget-title">
                                <h3>Contact</h3>
                            </div><!-- /.widget-title -->
                            <p>8 allee Henri Matisse <br> Sainte Genevieve des bois, 91700</p>
                            <ul class="contact-infos">
                                <li><a href="mailto:taximalin@gmail.com"><i class="fa fa-envelope"></i> taximalin@gmail.com</a></li>
                                <li><a href="callto:+3310613542724"><i class="fa fa-phone-square"></i> 06-13-54-27-24</a></li>
                            </ul><!-- /.contact-infos -->
                        </div><!-- /.footer-widget -->
                    </div><!-- /.col-lg-3 -->
                    <div class="col-lg-4">
                        <div class="footer-widget">
                            <div class="widget-title">
                                <h3>Newsletter</h3>
                            </div><!-- /.widget-title -->
                            <p>Inscrivez vous à notre newsletter pour recevoir <br>  les dernieres offres de taxi malin.</p>
                            <form action="#" class="subscribe-form">
                                <input type="text" name="email" placeholder="Enter your email">
                                <button type="submit">Go</button>
                            </form>
                        </div><!-- /.footer-widget -->
                    </div><!-- /.col-lg-4 -->
                </div><!-- /.row -->
            </div><!-- /.container -->
        </div><!-- /.upper-footer -->
        <div class="bottom-footer ">
            <div class="container">
                <div class="inner-container">
                    <div class="left-block">
                        <a href="index.html" class="footer-logo"><img src="~/images/resources/taximalinGD.png" style="height:150px;width:162px" alt="Awesome Image" /></a>
                        <span>&copy; 2023 Tous droits réservé <a href="#">InsolenceAgency.com</a></span>
                    </div><!-- /.left-block -->
                    <div class="right-block">
                        <ul class="link-lists">
                            <li><a asp-controller="home" asp-action="MentionsLegales">Mentions Legales</a></li>
                           
                        </ul>
                    </div><!-- /.right-block -->
                </div><!-- /.inner-container -->
            </div><!-- /.container -->
        </div><!-- /.bottom-footer -->
        <a href="#" data-target="html" class="scroll-to-target scroll-to-top"><i class="fa fa-angle-up"></i></a>
    </footer><!-- /.site-footer -->
    <script src="~/lib/jquery/dist/jquery.min.js" asp-append-version="true"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js" asp-append-version="true"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.js" asp-append-version="true"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/js/jquery.js" asp-append-version="true"></script>
    <script src="~/js/bootstrap.bundle.min.js" asp-append-version="true"></script>
    <script src="~/js/owl.carousel.min.js" asp-append-version="true"></script>
    <script src="~/js/bootstrap-select.min.js" asp-append-version="true"></script>
    <script src="~/js/jquery.magnific-popup.min.js" asp-append-version="true"></script>
    <script src="~/js/waypoints.min.js" asp-append-version="true"></script>
    <script src="~/js/jquery.counterup.min.js" asp-append-version="true"></script>
    <script src="~/js/jquery.bxslider.min.js" asp-append-version="true"></script>
    <script src="~/js/theme.js" asp-append-version="true"></script>
    
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
