@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Comment fonctionne les reservations";
}

<section class="inner-banner">
    <div class="container">
        <H1>À propos</H1>
        <h2>À propos</h2>
    </div><!-- /.container -->
</section><!-- /.inner-banner -->
<section class="about-style-two">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="content-block">
                    <div class="block-title">
                        <div class="dot-line"></div><!-- /.dot-line -->
                        <p>Quelques mots à propos de taxi malin</p>
                        <h2> Découvrez  <br /> Taxi Malin</h2>
                    </div><!-- /.block-title text-center -->
                    <p>
                        Bienvenue sur la <b>page officielle de www.taximalin.fr</b>, la compagnie de transport de choix pour tous vos besoins en déplacement à partir de l'<b>Essonne</b>.
                        Originaire de l’Essonne notre compagnie est spécialisée dans le transport des passagers à tarifs fixes abordables.
                        <br />
                        Nous offrons des <b>courses régulières</b> au départ de : <b>Brétigny-sur-Orge</b>, <b>Sainte-Geneviève-des-Bois</b>,<b>Evry</b> , <b>Corbeil-Essonnes</b>, <b>Massy-Palaiseau</b> et <b>Étampes</b>, en direction de toutes les
                        <b>gares grandes lignes Parisiennes</b> et <b>aéroports d'Île-de-France</b>.
                        <br />
                        Nous sommes convaincus que nous offrons les <b>tarifs les plus compétitifs</b> pour tous vos déplacements dans la région de l'<b>Essonne</b>.
                        Si vous cherchez une compagnie de transport <b>fiable</b> et <b>professionnelle</b> en <b>Essonne</b>, alors www.taximalin.fr est le choix idéal pour vous.
                        Contactez-nous dès maintenant pour <b>réserver</b> votre navette <b>pas chère</b> ou votre chauffeur privé dans l'Essonne. Nous sommes impatients de vous servir !
                    </p>
                    <a asp-controller="home" asp-action="ReserverCourse" class="about-btn">Reserver</a>
                </div><!-- /.content-block -->
            </div><!-- /.col-lg-6 -->
            <div class="col-lg-6">
                <div class="hvr-float-shadow">
                    <div class="image-block">
                        <img src="~/images/resources/pexels-spencer-selover-775358.webp" alt="Awesome Image" />
                        <div class="bubble-block">
                            <div class="inner-block">
                                <span class="counter">873</span>
                                <p>Clients nous ont fait confiance !</p>
                            </div><!-- /.inner-block -->
                        </div><!-- /.bubble-block -->
                    </div><!-- /.image-block -->
                </div><!-- /.hvr-float-shadow -->
            </div><!-- /.col-lg-6 -->
        </div><!-- /.row -->
    </div><!-- /.container -->
</section><!-- /.about-style-two -->
<hr class="style-one" />
<div class="brand-carousel-wrapper">
    <div class="container">
        <div class="brand-carousel-one owl-theme owl-carousel">
            <div class="item">
                <a href="https://www.parisaeroport.fr/"> <img src="~/images/brand/brand-1-1.webp" alt="Aéroport de Paris" /></a>
            </div><!-- /.item -->
            <div class="item">
                <a href="https://www.sncf.fr/"> <img src="~/images/brand/Logo_SNCF_2011.svg.webp" alt="Logo_SNCF" /></a>
            </div><!-- /.item -->
            <div class="item">
                <a href="https://www.essonnetourisme.com/en/tourism-in-essonne-3/"><img src="~/images/brand/brand-1-3.webp" alt="Office Tourisme Essonne Logo" /></a>
            </div><!-- /.item -->
            <div class="item">
                <a href="https://www.tripadvisor.fr//"> <img src="~/images/brand/Tripadvisor-Logo.webp" alt="Tripadvisor-Logo" /></a>
            </div><!-- /.item -->
            <div class="item">
                <a href="https://www.disneylandparis.com/fr-fr/"><img src="~/images/brand/512px-Disneyland_Paris_logo.svg.webp" alt="Disneyland_Paris_logo" /></a>
            </div><!-- /.item -->
            <div class="item">
                <a href="https://www.parisaeroport.fr/"> <img src="~/images/brand/brand-1-1.webp" alt="Aéroport de Paris" /></a>
            </div><!-- /.item -->
            <div class="item">
                <a href="https://www.sncf.fr/"> <img src="~/images/brand/Logo_SNCF_2011.svg.webp" alt="Logo_SNCF" /></a>
            </div><!-- /.item -->
            <div class="item">
                <a href="https://www.essonnetourisme.com/en/tourism-in-essonne-3/"><img src="~/images/brand/brand-1-3.webp" alt="Office Tourisme Essonne Logo" /></a>
            </div><!-- /.item -->
            <div class="item">
                <a href="https://www.tripadvisor.fr//"> <img src="~/images/brand/Tripadvisor-Logo.webp" alt="Tripadvisor-Logo" /></a>
            </div><!-- /.item -->
            <div class="item">
                <a href="https://www.disneylandparis.com/fr-fr/"><img src="~/images/brand/512px-Disneyland_Paris_logo.svg.webp" alt="Disneyland_Paris_logo" /></a>
            </div><!-- /.item -->
        </div><!-- /.brand-carousel-one -->
    </div><!-- /.container -->
</div><!-- /.brand-carousel-wrapper -->

<hr class="style-one" />


<section class="funfact-style-one">
    <div class="container">
        <div class="block-title text-center">
            <div class="dot-line"></div><!-- /.dot-line -->
            <p>Nos chiffres</p>
            <h2>Laissons parler les chiffres</h2>
        </div><!-- /.block-title text-center -->
        <div class="row">
            <div class="col-lg-3 col-md-6 col-sm-12">
                <div class="single-funfact-one hvr-float-shadow">
                    <i class="fa-solid fa-road"></i>
                    <h3 class="counter">53,450</h3>
                    <p>KMs parcourus</p>
                </div><!-- /.single-funfact-one -->
            </div><!-- /.col-lg-3 -->
            <div class="col-lg-3 col-md-6 col-sm-12">
                <div class="single-funfact-one hvr-float-shadow">
                    <i class="fa-solid fa-person-shelter"></i>
                    <h3 class="counter">1,342</h3>
                    <p>Personnes deposés</p>
                </div><!-- /.single-funfact-one -->
            </div><!-- /.col-lg-3 -->
            <div class="col-lg-3 col-md-6 col-sm-12">
                <div class="single-funfact-one hvr-float-shadow">
                    <i class="fa-solid fa-mobile-screen"></i>
                    <h3 class="counter">73</h3>
                    <p>Objets retrouvés</p>
                </div><!-- /.single-funfact-one -->
            </div><!-- /.col-lg-3 -->
            <div class="col-lg-3 col-md-6 col-sm-12">
                <div class="single-funfact-one hvr-float-shadow">
                    <i class="fa-solid fa-face-smile-beam"></i>
                    <h3 class="counter">883</h3>
                    <p>Clients heureux</p>
                </div><!-- /.single-funfact-one -->
            </div><!-- /.col-lg-3 -->
        </div><!-- /.row -->
    </div><!-- /.container -->
</section><!-- /.funfact-style-one -->
<section class="testimonials-style-one">
    <div class="container">
        <div class="block-title text-center">
            <div class="dot-line"></div><!-- /.dot-line -->
            <p class="light">Ce que nos clients pensents de nous</p>
            <h2 class="light">Commentaires</h2>
        </div><!-- /.block-title -->
        <ul class="slider testimonials-slider-one">
            <li class="slide-item">
                <div class="single-testimonial-one">
                    <p>Mon chauffeur de Taxi Malin était exceptionnel ! Courtois et professionnel, il a rendu mon trajet des plus agréables.</p>
                    <h3>Camille Lefebvre</h3>
                </div><!-- /.single-testimonial-one -->
            </li>
            <li class="slide-item">
                <div class="single-testimonial-one">
                    <p>La rapidité et la ponctualité de Taxi Malin sont remarquables. J'ai toujours pu compter sur leur service pour arriver à l'heure à mes rendez-vous.</p>
                    <h3>Fatou Camara</h3>
                </div><!-- /.single-testimonial-one -->
            </li>
            <li class="slide-item">
                <div class="single-testimonial-one">
                    <p>Je suis ravi du prix compétitif offert par Taxi Malin. Leur excellent service de taxi ne compromet en rien la qualité, ce qui en fait un choix économique et judicieux.</p>
                    <h3>Maxime Moreau</h3>
                </div><!-- /.single-testimonial-one -->
            </li>
        </ul>
    </div><!-- /.container -->
    <div class="testimonials-one-slider-btn">
        <span class="carousel-btn left-btn"><i class="fa-solid fa-arrow-left"></i></span>
        <span class="carousel-btn right-btn"><i class="fa-solid fa-arrow-right"></i></span>
    </div><!-- /.carousel-btn-block banner-carousel-btn -->
</section><!-- /.testimonials-style-one -->
<section class="cta-style-two no-zigzag">
    <div class="container">
        <p>Service 7 / 7 jours </p>
        <h3>Appelez maintenant et réserver <br> votre prochain trajet</h3>
        <a asp-controller="Home" asp-action="ReserverCourse" class="cta-btn">Réserver</a>
    </div><!-- /.container -->
</section><!-- /.cta-style-one -->