@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Comment fonctionne les reservations";
}

<section class="inner-banner">
    <div class="container">
        <H1>À propos</H1>
        <h2>À propos</h2>
    </div><!-- /.container -->
</section><!-- /.inner-banner -->
<section class="about-style-two">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="content-block">
                    <div class="block-title">
                        <div class="dot-line"></div><!-- /.dot-line -->
                        <p>Quelques mots à propos de taxi malin</p>
                        <h2> Découvrez  <br /> Taxi Malin</h2>
                    </div><!-- /.block-title text-center -->
                    <p>
                        Bienvenue sur la <b>page officielle de www.taximalin.fr</b>, la compagnie de transport de choix pour tous vos besoins en déplacement à partir de l'<b>Essonne</b>.
                        Originaire de l’Essonne notre compagnie est spécialisée dans le transport des passagers à tarifs fixes abordables.
                        <br />
                        Nous offrons des <b>courses régulières</b> au départ de : <b>Brétigny-sur-Orge</b>, <b>Sainte-Geneviève-des-Bois</b>,<b>Evry</b> , <b>Corbeil-Essonnes</b>, <b>Massy-Palaiseau</b> et <b>Étampes</b>, en direction de toutes les
                        <b>gares grandes lignes Parisiennes</b> et <b>aéroports d'Île-de-France</b>.
                        <br />
                        Nous sommes convaincus que nous offrons les <b>tarifs les plus compétitifs</b> pour tous vos déplacements dans la région de l'<b>Essonne</b>.
                        Si vous cherchez une compagnie de transport <b>fiable</b> et <b>professionnelle</b> en <b>Essonne</b>, alors www.taximalin.fr est le choix idéal pour vous.
                        Contactez-nous dès maintenant pour <b>réserver</b> votre navette <b>pas chère</b> ou votre chauffeur privé dans l'Essonne. Nous sommes impatients de vous servir !
                    </p>
                    <a asp-controller="home" asp-action="AddReservation" class="about-btn">Reserver</a>
                </div><!-- /.content-block -->
            </div><!-- /.col-lg-6 -->
            <div class="col-lg-6">
                <div class="hvr-float-shadow">
                    <div class="image-block">
                        <img src="~/images/resources/pexels-spencer-selover-775358.webp" alt="Awesome Image" />
                        <div class="bubble-block">
                            <div class="inner-block">
                                <span class="counter">873</span>
                                <p>Clients nous ont fait confiance !</p>
                            </div><!-- /.inner-block -->
                        </div><!-- /.bubble-block -->
                    </div><!-- /.image-block -->
                </div><!-- /.hvr-float-shadow -->
            </div><!-- /.col-lg-6 -->
        </div><!-- /.row -->
    </div><!-- /.container -->
</section><!-- /.about-style-two -->
<hr class="style-one" />
<div class="brand-carousel-wrapper">
    <div class="container">
        <div class="brand-carousel-one owl-theme owl-carousel">
            <div class="item">
                <a href="https://www.parisaeroport.fr/"> <img src="~/images/brand/brand-1-1.webp" alt="Aéroport de Paris" /></a>
            </div><!-- /.item -->
            <div class="item">
                <a href="https://www.sncf.fr/"> <img src="~/images/brand/Logo_SNCF_2011.svg.webp" alt="Logo_SNCF" /></a>
            </div><!-- /.item -->
            <div class="item">
                <a href="https://www.essonnetourisme.com/en/tourism-in-essonne-3/"><img src="~/images/brand/brand-1-3.webp" alt="Office Tourisme Essonne Logo" /></a>
            </div><!-- /.item -->
            <div class="item">
                <a href="https://www.tripadvisor.fr//"> <img src="~/images/brand/Tripadvisor-Logo.webp" alt="Tripadvisor-Logo" /></a>
            </div><!-- /.item -->
            <div class="item">
                <a href="https://www.disneylandparis.com/fr-fr/"><img src="~/images/brand/512px-Disneyland_Paris_logo.svg.webp" alt="Disneyland_Paris_logo" /></a>
            </div><!-- /.item -->
            <div class="item">
                <a href="https://www.parisaeroport.fr/"> <img src="~/images/brand/brand-1-1.webp" alt="Aéroport de Paris" /></a>
            </div><!-- /.item -->
            <div class="item">
                <a href="https://www.sncf.fr/"> <img src="~/images/brand/Logo_SNCF_2011.svg.webp" alt="Logo_SNCF" /></a>
            </div><!-- /.item -->
            <div class="item">
                <a href="https://www.essonnetourisme.com/en/tourism-in-essonne-3/"><img src="~/images/brand/brand-1-3.webp" alt="Office Tourisme Essonne Logo" /></a>
            </div><!-- /.item -->
            <div class="item">
                <a href="https://www.tripadvisor.fr//"> <img src="~/images/brand/Tripadvisor-Logo.webp" alt="Tripadvisor-Logo" /></a>
            </div><!-- /.item -->
            <div class="item">
                <a href="https://www.disneylandparis.com/fr-fr/"><img src="~/images/brand/512px-Disneyland_Paris_logo.svg.webp" alt="Disneyland_Paris_logo" /></a>
            </div><!-- /.item -->
        </div><!-- /.brand-carousel-one -->
    </div><!-- /.container -->
</div><!-- /.brand-carousel-wrapper -->
<section class="feature-style-two thm-black-bg">
    <div class="container">
        <div class="block-title text-center">
            <div class="dot-line"></div><!-- /.dot-line -->
            <p>Pourquoi nous choisir : </p>
            <h2 class="light">Comment ca marche ? </h2>
        </div><!-- /.block-title text-center -->
        <div class="row">
            <div class="col-lg-4">
                <div class="single-feature-one">
                    <div class="icon-block">
                        <i class="fa fa-phone"></i>
                    </div><!-- /.icon-block -->
                    <h3><a href="#">Reservation Simple</a></h3>
                    <p>Par formulaire sur internet ou par téléphone<br /> </p>
                </div><!-- /.single-feature-one -->
            </div><!-- /.col-lg-4 -->
            <div class="col-lg-4">
                <div class="single-feature-one">
                    <div class="icon-block">
                        <i class="fa-solid fa-user"></i>
                    </div><!-- /.icon-block -->
                    <h3><a href="#">Confirmation par retour d'appel</a></h3>
                    <p>Recevez une confirmation dans les 4h par téléphones</p>
                    @*<a href="#" class="more-link">Read More</a>*@
                </div><!-- /.single-feature-one -->
            </div><!-- /.col-lg-4 -->
            <div class="col-lg-4">
                <div class="single-feature-one">
                    <div class="icon-block">
                        <i class="fa-solid fa-user-tie"></i>
                    </div><!-- /.icon-block -->
                    <h3><a href="#">Chauffeur professionnel</a></h3>
                    <p>Ponctualité. Professionalsime. Politesse.</p>

                </div><!-- /.single-feature-one -->
            </div><!-- /.col-lg-4 -->
        </div><!-- /.row -->
    </div><!-- /.container -->
</section><!-- /.feature-style-one -->
<hr class="style-one" />
<section class="cta-style-two no-zigzag">
    <div class="container">
        <p>Service 7 / 7 jours </p>
        <h3>Appelez maintenant et réserver <br> votre prochain trajet</h3>
        <a asp-controller="Home" asp-action="ReserverCourse" class="cta-btn">Réserver</a>
    </div><!-- /.container -->
</section><!-- /.cta-style-one -->