@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
     ViewData["Title"] = "Contact";
}
@model TaxiMalinWebApp.Models.ObjetPerduMessageModel

<section class="inner-banner">
    <div class="container">
       @* <ul class="thm-breadcrumb">
          
            <li><span class="page-title">Nous joindre ? </span></li>
        </ul><!-- /.thm-breadcrumb -->*@
        <h1>Contact</h1>
        <h2>Contact</h2>
        
    </div><!-- /.container -->
</section><!-- /.inner-banner -->
<div class="contact-page-map-wrapper">
    <div class="google-map" id="contact-google-map" data-map-lat="40.712784" data-map-lng="-74.005941" data-icon-path="~/images/resources/map-pin-1-1.png" data-map-title="8 allée henri matisse , Sainte Genevieve des Bois, 91700" data-map-zoom="11" data-markers='{
         "marker-1" : [40.712784, -74.005941, "<h4>Main Office</h4><p>allée henri matisse , Sainte Genevieve des Bois, 91700</p>" ],
         "marker-2" : [40.728157, -74.077642, "<h4>Branch Office</h4> <p>291 Park Ave S, East Meadow, UK</p>" ]
         }'>
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2635.8365949745566!2d2.3017282512529524!3d48.65124112312207!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47e5d9aa1f58a639%3A0xaee430656d253b5a!2s8%20All.%20Henri%20Matisse%2C%2091700%20Sainte-Genevi%C3%A8ve-des-Bois!5e0!3m2!1sfr!2sfr!4v1678076882109!5m2!1sfr!2sfr" width="100%" height="100%" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
    </div>
    <div class="contact-info-block">
        <p>8 rue henri matisse <br> Sainte Genevieve des Bois, 91700</p>
        <ul class="contact-infos">
            <li><i class="fa fa-envelope"></i> taximalin@gmail.com</li>
            <li><i class="fa fa-phone-square"></i> 06 13 54 27 24</li>
        </ul><!-- /.contact-infos -->
    </div><!-- /.contact-info-block -->
 </div><!-- /.contact-page-map-wrapper -->
<section class="contact-form-style-one">
    <div class="container">
        <div class="block-title text-center">
            <div class="dot-line"></div><!-- /.dot-line -->
            <p>Laisser un message</p>
            <h2>Objet perdu</h2>
        </div><!-- /.block-title -->
        <form href="#" class="contact-form-one row" id="contact-form" method="post">
            <div class="col-lg-6">
                <div class="input-holder">
                    <input asp-for="Nom" type="text" placeholder="Votre nom">
                </div><!-- /.input-holder -->
            </div><!-- /.col-lg-6 -->
            <div class="col-lg-6">
                <div class="input-holder">
                    <input asp-for="Email" type="email" placeholder="Courriel">
                </div><!-- /.input-holder -->
            </div><!-- /.col-lg-6 -->
            <div class="col-lg-6">
                <div class="input-holder">
                    <input asp-for="NumeroTelephone" type="text" placeholder="Telephone">
                </div><!-- /.input-holder -->
            </div><!-- /.col-lg-6 -->
            <div class="col-lg-6">
                <div class="input-holder">
                    <input asp-for="Sujet" type="text" placeholder="Sujet:indiquer objet perdu">
                </div><!-- /.input-holder -->
            </div><!-- /.col-lg-6 -->
            <div class="col-lg-12">
                <div class="input-holder">
                    <textarea asp-for="Message" class="form-control" name="form_message" placeholder="Ecrire votre message"></textarea>
                </div><!-- /.input-holder -->
            </div><!-- /.col-lg-6 -->
            <div class="col-lg-12">
                <div class="input-holder text-center">
                    <input id="form_botcheck" name="form_botcheck" class="form-control" type="hidden" value="">
                    <button class="theme-btn btn-style-two" type="submit" data-loading-text="Veuillez patienter..."><span>Envoyer message</span></button>
                </div><!-- /.input-holder -->
            </div><!-- /.col-lg-6 -->
        </form><!-- /.contact-form-one -->
    </div><!-- /.container -->
</section><!-- /.contact-form-style-one -->

<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAuYIB-zZOGZWLcNjDG3_AjwNTUQiQ0RO0" asp-append-version="true"></script>
<script src="~/js/map-helper.js" asp-append-version="true"></script>
