@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<section class="inner-banner">
            <div class="container">
                <ul class="thm-breadcrumb">
                  
                    <li><span class="page-title">Des questions ? </span></li>
                </ul><!-- /.thm-breadcrumb -->
                <h2>FAQ</h2>
            </div><!-- /.container -->
        </section><!-- /.inner-banner -->
<section class="about-style-two">
<section class="single-taxi-faq-one thm-gray-bg">
    <div class="container">
        <div class="block-title text-center">
            <div class="dot-line"></div><!-- /.dot-line -->
            <p>FAQ</p>
            <h2>Questions & Reponses</h2>
        </div><!-- /.block-title -->
        <div class="accrodion-grp" data-grp-name="faq-accrodion">
            <div class="accrodion active">
                <div class="accrodion-title">
                    <h4>Comment faire une reservation?</h4>
                </div>
                <div class="accrodion-content">
                    <div class="inner">
                        <p>Il suffit de remplir le formulaire un agent va communiquer dans les 4 heures, sinon appeler directement le 06-13-54-27-24.</p>
                    </div><!-- /.inner -->
                </div>
            </div>
            <div class="accrodion ">
                <div class="accrodion-title">
                    <h4>Comment savoir si ma course est reservé?</h4>
                </div>
                <div class="accrodion-content">
                    <div class="inner">
                        <p>Un agent communique avec vous dans les 4 heures de la reservation</p>
                    </div><!-- /.inner -->
                </div>
            </div>
            <div class="accrodion">
                <div class="accrodion-title">
                    <h4>Comment fonctionne le paiement?</h4>
                </div>
                <div class="accrodion-content">
                    <div class="inner">
                        <p>Le paiement s'effectue en cash ou sur le site par paypal'</p>
                    </div><!-- /.inner -->
                </div>
            </div>
            <div class="accrodion">
                <div class="accrodion-title">
                    <h4>Que faire si vous souhaitez une reponse rapide?</h4>
                </div>
                <div class="accrodion-content">
                    <div class="inner">
                            <p>Appeler le 06-13-54-27-24 et laisser un message si cela ne reponds pas</p>
                    </div><!-- /.inner -->
                </div>
            </div>
        </div>
    </div><!-- /.container -->
</section><!-- /.single-taxi-faq-one -->
 <section class="cta-style-one text-center">
            <div class="container">
                <p>Service 7 / 7 jours </p>
                <h3>Appeller maintenant et reserver <br> votre prochain trajet</h3>
            <a asp-controller="Home" asp-action="ReserverCourse" class="cta-btn">Reserver</a>
            </div><!-- /.container -->
 </section><!-- /.cta-style-one -->