@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "toutes les questions que vous vous posées";
}
<section class="inner-banner">
    <div class="container">
        @*<ul class="thm-breadcrumb">
             <li><span class="page-title">Des questions ? </span></li>
        </ul><!-- /.thm-breadcrumb -->*@
        <h1>F.A.Q</h1>
        <h2>F.A.Q</h2>
    </div><!-- /.container -->
</section><!-- /.inner-banner -->
<section class="single-taxi-faq-one thm-gray-bg">
    <div class="container">
        <div class="block-title text-center">
            <div class="dot-line"></div><!-- /.dot-line -->
            <p>Questions & Réponses </p>
            <h2>Foires Aux Questions</h2>
        </div><!-- /.block-title -->
        <div class="accrodion-grp" data-grp-name="faq-accrodion">
            <div class="accrodion active">
                <div class="accrodion-title">
                    <h4>Comment faire une réservation?</h4>
                </div>
                <div class="accrodion-content">
                    <div class="inner">
                        <p>Il suffit de remplir le formulaire un agent va communiquer dans les plus bref delais, sinon appelez le 06-13-54-27-24</p>
                    </div><!-- /.inner -->
                </div>
            </div>
            <div class="accrodion ">
                <div class="accrodion-title">
                    <h4>Comment savoir si ma course est reservé?</h4>
                </div>
                <div class="accrodion-content">
                    <div class="inner">
                        <p>Un agent communique avec vous pour confirmer: vos informations, l'heure de prise de heure, ainsi que le mode de paiement</p>
                    </div><!-- /.inner -->
                </div>
            </div>
            <div class="accrodion">
                <div class="accrodion-title">
                    <h4>Est-ce que les animaux sont acceptés?</h4>
                </div>
                <div class="accrodion-content">
                    <div class="inner">
                        <p>Oui nous acceptons les animaux, dans la mesure du raisonnable sous reserve d acceptation par téléphone  </p>
                    </div><!-- /.inner -->
                </div>
            </div>
            <div class="accrodion">
                <div class="accrodion-title">
                    <h4>Que faire si vous êtes dans l'urgence?</h4>
                </div>
                <div class="accrodion-content">
                    <div class="inner">
                        <p>Appelez le 06-13-54-27-24, on trouvera une solution à votre problème.</p>
                    </div><!-- /.inner -->
                </div>
            </div>
        </div>
    </div><!-- /.container -->
</section><!-- /.single-taxi-faq-one -->
<section class="cta-style-one text-center">
    <div class="container">
        <p>Service 7 / 7 jours </p>
        <h3>Appelez maintenant et réserver <br> votre prochain trajet</h3>
        <a asp-controller="Home" asp-action="ReserverCourse" class="cta-btn">Réserver</a>
    </div><!-- /.container -->
</section><!-- /.cta-style-one -->
