@{
    ViewData["Title"] = "Home Page";
}

@model TaxiMalinWebApp.Models.Reservation

<div class="main-banner-wrapper">
    <section class="banner-style-two owl-theme owl-carousel no-dots">
        <div class="slide slide-one" style="background-image: url(images/slider/slider-2-1.jpg);">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12 text-center">
                        <div class="banner-circle" style="background-image: url(images/slider/slider-2-1.jpg);">
                            <div class="inner-block">

                                <h3> Navette pour aeroports <br>à partir <br>de 39 <i class="fa-solid fa-euro-sign"></i>* </h3>
                                <a asp-controller="Home" asp-action="ReserverCourse" class="banner-btn">Réserver </a>
                            </div><!-- /.inner-block -->
                        </div><!-- /.banner-circle -->
                    </div><!-- /.col-lg-12 -->
                </div><!-- /.row -->
            </div><!-- /.container -->
        </div><!-- /.slide -->
        <div class="slide slide-two" style="background-image: url(images/slider/slider-2-2.jpg);">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12 text-center">
                        <div class="banner-circle" style="background-image: url(images/slider/slider-2-2.jpg);">
                            <div class="inner-block">

                                <h3> Navette pour gares <br>à partir <br>de 39 <i class="fa-solid fa-euro-sign"></i>* </h3>
                                <a asp-controller="Home" asp-action="ReserverCourse" class="banner-btn">Réserver </a>
                            </div><!-- /.inner-block -->
                        </div><!-- /.banner-circle -->
                    </div><!-- /.col-lg-12 -->
                </div><!-- /.row -->
            </div><!-- /.container -->
        </div><!-- /.slide -->
    </section><!-- /.banner-style-one -->
    <div class="carousel-btn-block banner-carousel-btn">
        <span class="carousel-btn left-btn"><i class="fa-solid fa-arrow-left"></i></span>
        <span class="carousel-btn right-btn"><i class="fa-solid fa-arrow-right"></i></span>
    </div><!-- /.carousel-btn-block banner-carousel-btn -->
</div><!-- /.main-banner-wrapper -->
<section class="about-style-three clearfix">
    <div class="left-block">
        <div class="content-block">
            <div class="image-block">
                <img src="images/resources/book-1-1.jpg" alt="Awesome Image" >
            </div><!-- /.image-block -->
            <div class="block-title">
                <div class="dot-line"></div><!-- /.dot-line -->
                <p>Nous sommes la <b>meilleur</b> solution pour tout</p>
                <h2>vos deplacements <br>  depuis <br> l'Essonne </h2>
            </div><!-- /.block-title -->
            <p>
                Besoin d'un <b>transport fiable et abordable ?</b> Optez pour <b>Taxi Malin</b> ! Nous proposons des <b>tarifs fixes</b> avantageux sur toutes nos courses, avec des chauffeurs disponibles <b>24h/24 et 7j/7</b>.
                Si nos chauffeurs ne sont pas disponibles, <b>nos partenaires</b> prennent la course au <b>même prix</b>. Voyagez en toute <b>sérénité</b> avec <b>Taxi Malin</b> !
            </p>
            <hr class="style-one" />
            <div class="tag-line">
                <span>Fiable. </span>
                <span>Econo. </span>
                <span>Futé. </span>
            </div><!-- /.tag-line -->
        </div><!-- /.content-block -->
    </div><!-- /.left-block -->
    <div class="right-block" id="#retour">
        <div class="right-upper-block">
            <div class="content-block">
                <div class="block-title">
                    <div class="dot-line"></div><!-- /.dot-line -->
                    <p class="light-2">Besoin d'un chauffeurs?</p>
                    <h2 class="light">Réserver <br> maintenant</h2>
                </div><!-- /.block-title -->
                <form asp-controller="Home" asp-action="AddReservation" method="post" class="booking-form-one" asp-antiforgery="true">
                    <div asp-validation-summary="All" class="text-white bg-danger"></div>
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="input-holder">
                                <input asp-for="Name" type="text" placeholder="Votre nom" required>
                                <span asp-validation-for="Name" class="text-danger"></span>
                            </div><!-- /.input-holder -->
                        </div><!-- /.col-lg-6 -->
                        <div class="col-lg-6">
                            <div class="input-holder">
                                <input asp-for="Email" type="email" placeholder="Courriel" required>
                                <span asp-validation-for="Email" class="text-danger"></span>

                            </div><!-- /.input-holder -->
                        </div><!-- /.col-lg-6 -->
                        <div class="col-lg-12">
                            <div class="input-holder">
                                <input asp-for="NumeroTelephone" type="text" placeholder="Telephone" required>
                            </div><!-- /.input-holder -->
                        </div><!-- /.col-lg-6 -->
                        <div class="col-lg-12">
                            <div class="input-holder">
                                <input asp-for="NbrePassager" type="text" placeholder="Passagers 1-4 max" min="1" max="4" step="1" >
                                <span asp-validation-for="NbrePassager" class="text-danger"></span>
                            </div><!-- /.input-holder -->
                        </div><!-- /.col-lg-12 -->
                        <div class="col-lg-12">
                            <div class="input-holder">
                                <input asp-for="AdresseDepart" type="text" placeholder="Adresse de depart"required>
                                <span asp-validation-for="AdresseDepart" class="text-danger"></span>
                            </div><!-- /.input-holder -->
                        </div><!-- /.col-lg-12 -->
                        <div class="col-lg-12">
                            <div class="input-holder">
                                <input asp-for="AdresseDestination" type="text" placeholder="Adresse arrivé" required>
                                <span asp-validation-for="AdresseDestination" class="text-danger"></span>
                            </div><!-- /.input-holder -->
                        </div><!-- /.col-lg-12 -->
                        <div class="col-lg-6">
                            <div class="input-holder">
                                <input asp-for="DateReservation" type="date" placeholder="Selectionner une date" required>
                                <i class="fa fa-calendar"></i>
                            </div><!-- /.input-holder -->
                        </div><!-- /.col-lg-6 -->
                        <div class="col-lg-6">
                            <div class="input-holder">
                                <input asp-for="SelectTime" type="time" placeholder="Selectionner une date" required>
                                <i class="fa fa-clock"></i>
                            </div><!-- /.input-holder -->
                        </div><!-- /.col-lg-6 -->

                        <div class="col-lg-12">
                            <div class="input-holder">
                                <input type="submit">
                            </div><!-- /.input-holder -->
                        </div><!-- /.col-lg-12 -->
                    </div><!-- /.row -->
                </form><!-- /.booking-form-one -->
            </div><!-- /.content-block -->
        </div><!-- /.right-upper-block -->
        <div class="right-bottom-block">
            <div class="content-block cta-block">
                <div class="icon-block">

                    <i class="fa fa-phone-alt"></i>
                </div><!-- /.icon-block -->
                <div class="text-block">
                    <p>Appelez et réserver dès maintenant</p>
                    <a href="callto:8888880000">06 13 54 27 24</a>
                </div><!-- /.text-block -->
            </div><!-- /.content-block -->
        </div><!-- /.right-bottom-block -->
    </div><!-- /.right-block -->
</section><!-- /.about-style-three -->
<section class="offer-style-one">
    <div class="container">
        <div class="block-title text-center">
            <div class="dot-line"></div><!-- /.dot-line -->
            <p>Nos services</p>
            <h2>Nos offres les plus populaires</h2>
        </div><!-- /.block-title -->
        <div class="row">
            <div class="col-lg-4">
                <div class="single-offer-one hvr-float-shadow">
                    <div class="image-block">
                        <a href="#"><i class="fa fa-link"></i></a>
                        <img src="images/resources/pexels-tanathip-rattanatum-2026324.jpg" style="width:370px;height:275px;" alt="Awesome Image" />
                    </div><!-- /.image-block -->
                    <div class="text-block">
                        <h3><a href="#">Trajet Aeroport</a></h3>
                        <p>Profitez d'un trajet confortable, sans stress et à petit prix vers tous les aéroports d'Île-de-France grâce à notre service de navette. Voyagez l'esprit tranquille et laissez-nous vous conduire à bon port en toute sécurité.</p>
                        <a href="#" class="more-link"></a>

                    </div><!-- /.text-block -->
                </div><!-- /.single-offer-one -->
            </div><!-- /.col-lg-4 -->
            <div class="col-lg-4">
                <div class="single-offer-one hvr-float-shadow">
                    <div class="image-block">
                        <a href="#"><i class="fa fa-link"></i></a>
                        <img src="images/resources/pexels-oleksandr-pidvalnyi-1008155.jpg" style="width:370px;height:275px;" alt="Awesome Image" />
                    </div><!-- /.image-block -->
                    <div class="text-block">
                        <h3><a href="#">Trajet Gare</a></h3>
                        <p>Notre service de navette vous conduit confortablement vers toutes les gares grandes lignes en Essonne et sur Paris. Réservez dès maintenant pour un transport fiable.</p><br /><br />
                        <a href="#" class="more-link"></a>
                    </div><!-- /.text-block -->
                </div><!-- /.single-offer-one -->
            </div><!-- /.col-lg-4 -->
            <div class="col-lg-4">
                <div class="single-offer-one hvr-float-shadow">
                    <div class="image-block">
                        <a href="#"><i class="fa fa-link"></i></a>
                        <img src="images/resources/Hopital-Longjumeau-1.jpg" style="width:370px;height:275px;" alt="Awesome Image" />
                    </div><!-- /.image-block -->
                    <div class="text-block">
                        <h3><a href="#">Trajet médicaux</a></h3>
@*                        <p>Voyagez en toute sécurité avec notre navette conventionnée CPAM à tarif avantageux vers les hôpitaux de l'Essonne. Chauffeurs qualifiés et expérimentés pour des rendez-vous médicaux sans stress. Réservez dès maintenant.</p>*@
                        <p> Nos partenaires conventionnée CPAM vous emènent à tarifs avantageux vers les hôpitaux de l'Essonne. Chauffeurs qualifiés et expérimentés pour des rendez-vous médicaux sans stress. Réservez dès maintenant.  </p>
                        <a href="#" class="more-link"></a>
                    </div><!-- /.text-block -->
                </div><!-- /.single-offer-one -->
            </div><!-- /.col-lg-4 -->
        </div><!-- /.row -->
    </div><!-- /.container -->
</section><!-- /.offer-style-one -->
<section class="taxi-fare-one">
    <div class="container">
        <div class="block-title text-center">
            <div class="dot-line"></div><!-- /.dot-line -->
            <p>Un apercu de nos differentes courses</p>
            <h2>Au départ du sud de l'Essonne</h2>
        </div><!-- /.block-title -->
        <div class="row">
            <div class="col-lg-6">
                <div class="single-taxi-fare-one thm-base-bg hvr-float-shadow">
                    <div class="top-block">
                        <div class="icon-block">
                            <i class="fa fa-taxi"></i>
                        </div><!-- /.icon-block -->
                        <div class="text-block">
                            <h3>Aeroport Orly</h3>
                            <p>Terminale 1 et 2</p>
                        </div><!-- /.text-block -->
                    </div><!-- /.top-block -->
                    <ul class="features-list">
                        <li>
                            <div class="name-line">A partir de* :</div><!-- /.name-line -->
                            <div class="price-line"><i class="fa-solid fa-euro-sign"></i>39</div><!-- /.price-line -->
                        </li>

                    </ul><!-- /.features-list -->
                    <div class="button-block">
                        <a asp-controller="home" asp-action="ReserverCourse" class="fare-btn">Reserver</a>
                    </div><!-- /.button-block -->
                </div><!-- /.single-taxi-fare-one -->
            </div><!-- /.col-lg-6 -->
            <div class="col-lg-6">
                <div class="single-taxi-fare-one thm-base-bg hvr-float-shadow">
                    <div class="top-block">
                        <div class="icon-block">
                            <i class="fa fa-taxi"></i>
                        </div><!-- /.icon-block -->
                        <div class="text-block">
                            <h3>Aeroport CDG</h3>
                            <p>Terminal 1, 2 et 3</p>
                        </div><!-- /.text-block -->
                    </div><!-- /.top-block -->
                    <ul class="features-list">
                        <li>
                            <div class="name-line">A partir de* :</div><!-- /.name-line -->
                            <div class="price-line"><i class="fa-solid fa-euro-sign"></i>89</div><!-- /.price-line -->
                        </li>
                    </ul><!-- /.features-list -->
                    <div class="button-block">
                        <a asp-controller="home" asp-action="ReserverCourse" class="fare-btn">Réserver</a>
                    </div><!-- /.button-block -->
                </div><!-- /.single-taxi-fare-one -->
            </div><!-- /.col-lg-6 -->
        </div><!-- /.row -->
        <div class="row">
            <div class="col-lg-6">
                <div class="single-taxi-fare-one thm-base-bg hvr-float-shadow">
                    <div class="top-block">
                        <div class="icon-block">
                            <i class="fa fa-taxi"></i>
                        </div><!-- /.icon-block -->
                        <div class="text-block">
                            <h3>Dysney Land Paris</h3>
                            <p>Gare</p>
                        </div><!-- /.text-block -->
                    </div><!-- /.top-block -->
                    <ul class="features-list">
                        <li>
                            <div class="name-line">A partir de* :</div><!-- /.name-line -->
                            <div class="price-line"><i class="fa-solid fa-euro-sign"></i>89</div><!-- /.price-line -->
                        </li>
                    </ul><!-- /.features-list -->
                    <div class="button-block">
                        <a asp-controller="home" asp-action="ReserverCourse" class="fare-btn">Reserver</a>
                    </div><!-- /.button-block -->
                </div><!-- /.single-taxi-fare-one -->
            </div><!-- /.col-lg-6 -->
            <div class="col-lg-6">
                <div class="single-taxi-fare-one thm-base-bg hvr-float-shadow">
                    <div class="top-block">
                        <div class="icon-block">
                            <i class="fa fa-taxi"></i>
                        </div><!-- /.icon-block -->
                        <div class="text-block">
                            <h3>Gare de Lyon</h3>
                            <p>Gare</p>
                        </div><!-- /.text-block -->
                    </div><!-- /.top-block -->
                    <ul class="features-list">
                        <li>
                            <div class="name-line">A partir de* :</div><!-- /.name-line -->
                            <div class="price-line"><i class="fa-solid fa-euro-sign"></i>49</div><!-- /.price-line -->
                        </li>
                    </ul><!-- /.features-list -->
                    <div class="button-block">
                        <a asp-controller="home" asp-action="ReserverCourse" class="fare-btn">Réserver</a>
                    </div><!-- /.button-block -->
                </div><!-- /.single-taxi-fare-one -->
            </div><!-- /.col-lg-6 -->
        </div><!-- /.row -->
    </div><!-- /.container -->
    <div class="block-text text-center">
        <div class="button-block">
                        <a asp-controller="home" asp-action="Services" class="fare-btn" style="text-decoration:none;">Nos offres fixes</a>
         </div><!-- /.button-block -->
        <p>*Nos prix fixe varient sensiblement en fonction de votre point de départ.</p>
    </div><!-- /.block-text -->
</section><!-- /.taxi-fare-one -->
<hr class="style-one">
<div class="brand-carousel-wrapper">
    <div class="container">
        <div class="brand-carousel-one owl-theme owl-carousel">
            <div class="item">
                <a href="https://www.parisaeroport.fr/"> <img src="~/images/brand/brand-1-1.jpg" alt="Awesome Image" /></a>
            </div><!-- /.item -->
            <div class="item">
                <a href="https://www.sncf.fr/"> <img src="~/images/brand/Logo_SNCF_2011.svg.png" alt="Awesome Image" /></a>
            </div><!-- /.item -->
            <div class="item">
                <a href="https://www.essonnetourisme.com/en/tourism-in-essonne-3/"><img src="~/images/brand/brand-1-3.jpg" alt="Awesome Image" /></a>
            </div><!-- /.item -->
            <div class="item">
                <a href="https://www.tripadvisor.fr/"> <img src="~/images/brand/Tripadvisor-Logo.png" alt="Awesome Image" /></a>
            </div><!-- /.item -->
            <div class="item">
                <a href="https://www.disneylandparis.com/fr-fr/"><img src="~/images/brand/512px-Disneyland_Paris_logo.svg.png" alt="Awesome Image" /></a>
            </div><!-- /.item -->
            <div class="item">
                <a href="https://www.parisaeroport.fr/"> <img src="~/images/brand/brand-1-1.jpg" alt="Awesome Image" /></a>
            </div><!-- /.item -->
            <div class="item">
                <a href="https://www.sncf.fr/"> <img src="~/images/brand/Logo_SNCF_2011.svg.png" alt="Awesome Image" /></a>
            </div><!-- /.item -->
            <div class="item">
                <a href="https://www.essonnetourisme.com/en/tourism-in-essonne-3/"><img src="~/images/brand/brand-1-3.jpg" alt="Awesome Image" /></a>
            </div><!-- /.item -->
            <div class="item">
                <a href="https://www.tripadvisor.fr/"> <img src="~/images/brand/Tripadvisor-Logo.png" alt="Awesome Image" /></a>
            </div><!-- /.item -->
            <div class="item">
                <a href="https://www.disneylandparis.com/fr-fr/"><img src="~/images/brand/512px-Disneyland_Paris_logo.svg.png" alt="Awesome Image" /></a>
            </div><!-- /.item -->
        </div><!-- /.brand-carousel-one -->
    </div><!-- /.container -->
</div><!-- /.brand-carousel-wrapper -->
<section class="testimonials-style-one">
    <div class="container">
        <div class="block-title text-center">
            <div class="dot-line"></div><!-- /.dot-line -->
            <p class="light">Ce que nos clients pensents de nous</p>
            <h2 class="light">Commentaires</h2>
        </div><!-- /.block-title -->
       @* <div class="testimonials-one-pager">
            <a href="#" class="pager-item active" data-slide-index="1"><img src="images/resources/testi-1-1.jpg" alt="Awesome Image" /></a>
            <a href="#" class="pager-item" data-slide-index="2"><img src="images/resources/testi-1-2.jpg" alt="Awesome Image" /></a>
            <a href="#" class="pager-item" data-slide-index="3"><img src="images/resources/testi-1-3.jpg" alt="Awesome Image" /></a>
        </div><!-- /.testimonials-one-pager -->*@
        <ul class="slider testimonials-slider-one">
            <li class="slide-item">
                <div class="single-testimonial-one">
                    <p>Mon chauffeur de Taxi Malin était exceptionnel ! Courtois et professionnel, il a rendu mon trajet des plus agréables.</p>
                    <h3>Camille Lefebvre</h3>
                </div><!-- /.single-testimonial-one -->
            </li>
            <li class="slide-item">
                <div class="single-testimonial-one">
                    <p>La rapidité et la ponctualité de Taxi Malin sont remarquables. J'ai toujours pu compter sur leur service pour arriver à l'heure à mes rendez-vous.</p>
                    <h3>Fatou Camara</h3>
                </div><!-- /.single-testimonial-one -->
            </li>
            <li class="slide-item">
                <div class="single-testimonial-one">
                    <p>Je suis ravi du prix compétitif offert par Taxi Malin. Leur excellent service de taxi ne compromet en rien la qualité, ce qui en fait un choix économique et judicieux.</p>
                    <h3>Maxime Moreau</h3>
                    
                </div><!-- /.single-testimonial-one -->
            </li>
             
        </ul>
       
    </div><!-- /.container -->
    <div class="testimonials-one-slider-btn">
        <span class="carousel-btn left-btn"><i class="fa-solid fa-arrow-left"></i></span>
        <span class="carousel-btn right-btn"><i class="fa-solid fa-arrow-right"></i></span>
    </div><!-- /.carousel-btn-block banner-carousel-btn -->
</section><!-- /.testimonials-style-one -->
@*<section class="cta-style-three">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 d-flex">
                <div class="my-auto image-block-wrapper text-center">
                    <div class="image-block">
                        <img src="images/resources/cta-moc-1-1.png" alt="Awesome Image" />
                    </div><!-- /.image-block -->
                </div><!-- /.my-auto -->
            </div><!-- /.col-lg-6 -->
            <div class="col-lg-6">
                <div class="content-block">
                    <div class="block-title">
                        <div class="dot-line"></div><!-- /.dot-line -->
                        <p>Book now from application</p>
                        <h2>Get a free mobile <br> application</h2>
                    </div><!-- /.block-title -->
                    <p>Lorem ipsum dolor sit a consetetur sadipscing elitr sed diam nonumy eirmod tempor invidunt dolor sit amet, legere explicari vis in scaevola reprimique eloquentiam at eoso labitur repudiare usu.</p>
                    <div class="button-block">
                        <a href="#" class="app-btn apple-btn">
                            <i class="fa fa-apple icon"></i>
                            <span class="text-block">
                                <span class="tag-line">Download From</span>
                                <span class="store-name">Apple Store</span>
                            </span>
                        </a>
                        <a href="#" class="app-btn google-btn">
                            <i class="fa fa-android icon"></i>
                            <span class="text-block">
                                <span class="tag-line">Download From</span>
                                <span class="store-name">Goolge Play</span>
                            </span>
                        </a>
                    </div><!-- /.button-block -->
                </div><!-- /.content-block -->
            </div><!-- /.col-lg-6 -->
        </div><!-- /.row -->
    </div><!-- /.container -->
</section><!-- /.cta-style-three -->*@

@*<section class="blog-style-one home-page-two">
    <div class="container">
        <div class="block-title text-center">
            <div class="dot-line"></div><!-- /.dot-line -->
            <p>Latest blog posts</p>
            <h2>News & updates</h2>
        </div><!-- /.block-title -->
        <div class="row">
            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12">
                <div class="single-blog-style-one">
                    <div class="image-block">
                        <div class="inner-block">
                            <a href="blog-details.html"><i class="fa fa-link"></i></a>
                            <img src="images/blog/blog-1-2.jpg" alt="Awesome Image" />
                        </div><!-- /.inner-block -->
                    </div><!-- /.image-block -->
                    <div class="text-block">
                        <div class="meta-info">
                            <a href="#" class="date-block">20 Feb, 2019</a>
                            <a href="#">by Admin</a>
                            <span class="sep">.</span>
                            <a href="#">3 Comments</a>
                        </div><!-- /.meta-info -->
                        <h3><a href="blog-details.html">Car with private and discreet cabman for a service</a></h3>
                        <p>There are many variations of passages of lorem ipsum available but the majority have suffered alteration...</p>
                    </div><!-- /.text-block -->
                </div><!-- /.single-blog-style-one -->
            </div><!-- /.col-xl-6 col-lg-6 col-md-6 col-sm-12 -->
            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12">
                <div class="single-blog-style-one">
                    <div class="image-block">
                        <div class="inner-block">
                            <a href="blog-details.html"><i class="fa fa-link"></i></a>
                            <img src="images/blog/blog-1-3.jpg" alt="Awesome Image" />
                        </div><!-- /.inner-block -->
                    </div><!-- /.image-block -->
                    <div class="text-block">
                        <div class="meta-info">
                            <a href="#" class="date-block">20 Feb, 2019</a>
                            <a href="#">by Admin</a>
                            <span class="sep">.</span>
                            <a href="#">3 Comments</a>
                        </div><!-- /.meta-info -->
                        <h3><a href="blog-details.html">Our taxis commit to make your trips unique</a></h3>
                        <p>There are many variations of passages of lorem ipsum available but the majority have suffered alteration...</p>
                    </div><!-- /.text-block -->
                </div><!-- /.single-blog-style-one -->
            </div><!-- /.col-xl-6 col-lg-6 col-md-6 col-sm-12 -->
        </div><!-- /.row -->
    </div><!-- /.container -->
</section><!-- /.blog-style-one -->*@
<section class="cta-style-two no-zigzag">
    <div class="container">
        <div class="content-block">
            <p>recevez une confirmation sous 24h</p>
            <h3>Appeler ou réservez en ligne.</h3>

        </div><!-- /.content-block -->
        <div class="button-block">
            <a asp-controller="Home" asp-action="ReserverCourse" class="cta-btn">Reserver Maintenant</a>
        </div><!-- /.button-block -->
    </div><!-- /.container -->
</section><!-- /.cta-style-two -->
<section class="funfact-style-one">
    <div class="container">
        <div class="block-title text-center">
            <div class="dot-line"></div><!-- /.dot-line -->
            <p>Nos chiffres</p>
            <h2>Laissons parler les chiffres</h2>
        </div><!-- /.block-title text-center -->
        <div class="row">
            <div class="col-lg-3 col-md-6 col-sm-12">
                <div class="single-funfact-one hvr-float-shadow">
                    <i class="fa-solid fa-road"></i>
                    <h3 class="counter">53450</h3>
                    <p>KM parcouru</p>
                </div><!-- /.single-funfact-one -->
            </div><!-- /.col-lg-3 -->
            <div class="col-lg-3 col-md-6 col-sm-12">
                <div class="single-funfact-one hvr-float-shadow">
                    <i class="fa-solid fa-person-shelter"></i>
                    <h3 class="counter">1342</h3>
                    <p>Personnes deposés</p>
                </div><!-- /.single-funfact-one -->
            </div><!-- /.col-lg-3 -->
            <div class="col-lg-3 col-md-6 col-sm-12">
                <div class="single-funfact-one hvr-float-shadow">
                    <i class="fa-solid fa-mobile-screen"></i>
                    <h3 class="counter">73</h3>
                    <p>Objets retrouvés</p>
                </div><!-- /.single-funfact-one -->
            </div><!-- /.col-lg-3 -->
            <div class="col-lg-3 col-md-6 col-sm-12">
                <div class="single-funfact-one hvr-float-shadow">
                    <i class="fa-solid fa-face-smile-beam"></i>
                    <h3 class="counter">883</h3>
                    <p>Clients heureux</p>
                </div><!-- /.single-funfact-one -->
            </div><!-- /.col-lg-3 -->
        </div><!-- /.row -->
    </div><!-- /.container -->
</section><!-- /.funfact-style-one -->