@{
    ViewData["Title"] = "Acceuil";
}

@model TaxiMalinWebApp.Models.Reservation


<section class="about-style-three clearfix">
    <div class="left-block">
        <div class="content-block">
            <div class="image-block">
                <img src="images/resources/book-1-1.webp" alt="Personne Heureuse" >
            </div><!-- /.image-block -->
            <div class="block-title">
                <div class="dot-line"></div><!-- /.dot-line -->
                <p>Nous sommes la <b>meilleur</b> solution pour tout</p>
                <h2>vos déplacements <br>  depuis <br> l'Essonne </h2>
            </div><!-- /.block-title -->
            <p>
                Besoin d'un <b>transport fiable et abordable ?</b> Optez pour <b>Taxi Malin</b> ! Nous proposons des <b>tarifs fixes</b> avantageux sur toutes nos courses, avec des chauffeurs disponibles <b>24h/24 et 7j/7</b>.
                Si nos chauffeurs ne sont pas disponibles, <b>nos partenaires</b> prennent la course au <b>même prix</b>. Voyagez en toute <b>sérénité</b> avec <b>Taxi Malin</b> !
            </p>
            <hr class="style-one" />
            <div class="tag-line">
                <span>Fiable. </span>
                <span>Econo. </span>
                <span>Futé. </span>
            </div><!-- /.tag-line -->
        </div><!-- /.content-block -->
    </div><!-- /.left-block -->
    <div class="right-block" id="#retour">
        <div class="right-upper-block">
            <div class="content-block">
                <div class="block-title">
                    <div class="dot-line"></div><!-- /.dot-line -->
                    <p class="light-2">Besoin d'un chauffeurs?</p>
                    <h2 class="light">Réserver <br> maintenant</h2>
                </div><!-- /.block-title -->
                <form asp-controller="Home" asp-action="AddReservation" method="post" class="booking-form-one" asp-antiforgery="true">
                    <div asp-validation-summary="All" class="text-white bg-danger"></div>
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="input-holder">
                                <input asp-for="Name" type="text" placeholder="Votre nom" required>
                                <span asp-validation-for="Name" class="text-danger"></span>
                            </div><!-- /.input-holder -->
                        </div><!-- /.col-lg-6 -->
                        <div class="col-lg-6">
                            <div class="input-holder">
                                <input asp-for="Email" type="email" placeholder="Courriel" required>
                                <span asp-validation-for="Email" class="text-danger"></span>

                            </div><!-- /.input-holder -->
                        </div><!-- /.col-lg-6 -->
                        <div class="col-lg-12">
                            <div class="input-holder">
                                <input asp-for="NumeroTelephone" type="text" placeholder="Téléphone" required>
                            </div><!-- /.input-holder -->
                        </div><!-- /.col-lg-6 -->
                        <div class="col-lg-12">
                            <div class="input-holder">
                                <input asp-for="NbrePassager" type="text" placeholder="Passagers 1-4 max" min="1" max="4" step="1" >
                                <span asp-validation-for="NbrePassager" class="text-danger"></span>
                            </div><!-- /.input-holder -->
                        </div><!-- /.col-lg-12 -->
                        <div class="col-lg-12">
                            <div class="input-holder">
                                <input asp-for="AdresseDepart" type="text" placeholder="Adresse de depart"required>
                                <span asp-validation-for="AdresseDepart" class="text-danger"></span>
                            </div><!-- /.input-holder -->
                        </div><!-- /.col-lg-12 -->
                        <div class="col-lg-12">
                            <div class="input-holder">
                                <input asp-for="AdresseDestination" type="text" placeholder="Adresse arrivé" required>
                                <span asp-validation-for="AdresseDestination" class="text-danger"></span>
                            </div><!-- /.input-holder -->
                        </div><!-- /.col-lg-12 -->
                        <div class="col-lg-6">
                            <div class="input-holder">
                                <input asp-for="DateReservation" type="date" placeholder="Selectionner une date" required>
                                <i class="fa fa-calendar"></i>
                            </div><!-- /.input-holder -->
                        </div><!-- /.col-lg-6 -->
                        <div class="col-lg-6">
                            <div class="input-holder">
                                <input asp-for="SelectTime" type="time" placeholder="Selectionner une date" required>
                                <i class="fa fa-clock"></i>
                            </div><!-- /.input-holder -->
                        </div><!-- /.col-lg-6 -->

                        <div class="col-lg-12">
                            <div class="input-holder">
                                <input type="submit">
                            </div><!-- /.input-holder -->
                        </div><!-- /.col-lg-12 -->
                    </div><!-- /.row -->
                </form><!-- /.booking-form-one -->
            </div><!-- /.content-block -->
        </div><!-- /.right-upper-block -->
        <div class="right-bottom-block">
            <div class="content-block cta-block">
                <div class="icon-block">

                    <i class="fa fa-phone-alt"></i>
                </div><!-- /.icon-block -->
                <div class="text-block">
                    <p>Appelez et réserver dès maintenant</p>
                    <a href="callto:8888880000">06 13 54 27 24</a>
                </div><!-- /.text-block -->
            </div><!-- /.content-block -->
        </div><!-- /.right-bottom-block -->
    </div><!-- /.right-block -->
</section><!-- /.about-style-three -->
<section class="offer-style-one">
    <div class="container">
        <div class="block-title text-center">
            <div class="dot-line"></div><!-- /.dot-line -->
            <p>Nos services</p>
            <h2>Nos offres les plus populaires</h2>
        </div><!-- /.block-title -->
        <div class="row">
            <div class="col-lg-4">
                <div class="single-offer-one hvr-float-shadow">
                    <div class="image-block">
                        <a asp-controller="Home" asp-action="Services"><i class="fa fa-link"></i></a>
                        <img src="images/resources/pexels-tanathip-rattanatum-2026324compresser.webp" style="width:370px;height:275px;" alt="Awesome Image" />
                    </div><!-- /.image-block -->
                    <div class="text-block">
                        <h3><a asp-controller="Home" asp-action="Services">Trajet Aeroport</a></h3>
                        <p>Profitez d'un trajet confortable, sans stress et à petit prix vers tous les aéroports d'Île-de-France grâce à notre service de navette. Voyagez l'esprit tranquille et laissez-nous vous conduire à bon port en toute sécurité.</p>
                        

                    </div><!-- /.text-block -->
                </div><!-- /.single-offer-one -->
            </div><!-- /.col-lg-4 -->
            <div class="col-lg-4">
                <div class="single-offer-one hvr-float-shadow">
                    <div class="image-block">
                        <a asp-controller="Home" asp-action="Services"><i class="fa fa-link"></i></a>
                        <img src="images/resources/pexels-oleksandr-pidvalnyi-1008155.webp" style="width:370px;height:275px;" alt="Awesome Image" />
                    </div><!-- /.image-block -->
                    <div class="text-block">
                        <h3><a asp-controller="Home" asp-action="Services">Trajet Gare</a></h3>
                        <p>Notre service de navette vous conduit confortablement vers toutes les gares grandes lignes en Essonne et sur Paris. Réservez dès maintenant pour un transport fiable.</p>
                        
                    </div><!-- /.text-block -->
                </div><!-- /.single-offer-one -->
            </div><!-- /.col-lg-4 -->
            <div class="col-lg-4">
                <div class="single-offer-one hvr-float-shadow">
                    <div class="image-block">
                        <a asp-controller="Home" asp-action="Services"><i class="fa fa-link"></i></a>
                        <img src="images/resources/Hopital-Longjumeau-1.webp" style="width:370px;height:275px;" alt="Awesome Image" />
                    </div><!-- /.image-block -->
                    <div class="text-block">
                        <h3><a asp-controller="Home" asp-action="Services">Trajet médicaux</a></h3>
                        <p> Nos partenaires conventionnée CPAM vous emènent à tarifs avantageux vers les hôpitaux de l'Essonne. Chauffeurs qualifiés et expérimentés pour des rendez-vous médicaux sans stress. Réservez dès maintenant.  </p>
                       
                    </div><!-- /.text-block -->
                </div><!-- /.single-offer-one -->
            </div><!-- /.col-lg-4 -->
        </div><!-- /.row -->
    </div><!-- /.container -->
</section><!-- /.offer-style-one -->

<hr class="style-one">

<section class="cta-style-two no-zigzag">
    <div class="container">
        <div class="content-block">
            <p>recevez une confirmation sous 24h</p>
            <h3>Appeler ou réservez en ligne.</h3>

        </div><!-- /.content-block -->
        <div class="button-block">
            <a asp-controller="Home" asp-action="ReserverCourse" class="cta-btn">Reserver Maintenant</a>
        </div><!-- /.button-block -->
    </div><!-- /.container -->
</section><!-- /.cta-style-two -->
