@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Reserver Course";
}
<section class="inner-banner">
    <div class="container">
        <ul class="thm-breadcrumb">
          
            <li><span class="page-title">Confirmation reservation recue</span></li>
        </ul><!-- /.thm-breadcrumb -->
        <h2>Un agent vous contacteras dans les prochaines 3h</h2>
    </div><!-- /.container -->
</section><!-- /.inner-banner -->
<section class="book-ride-two">
    <div class="container">
        <div class="row">
            <div class="col-lg-8">
                <div class="block-title">
                    <div class="dot-line"></div><!-- /.dot-line -->
                    <p>Vous êtes dans l'urgence ?? </p>
                    <h2>Contacter directement :  <br /> 06 13 54 27 24</h2>
                </div><!-- /.block-title -->
               
            </div><!-- /.col-lg-8 -->
        </div><!-- /.row -->
    </div><!-- /.container -->
</section><!-- /.book-ride-two -->