@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Reserver Course";
}
<div>
    <h1>Reservation effectuer un de nos agents rentrera en contact avec vous dans les 24h</h1>
</div>
