
@{
    ViewData["Title"] = "Reserver";

}
@model TaxiMalinWebApp.Models.Reservation
<style>
    span.e-input-group-icon.e-date-icon.e-icons {
        display: none;
    }
</style>
<section class="inner-banner">
    <div class="container">
        <ul class="thm-breadcrumb">
          
            <li><span class="page-title">Reserver une course</span></li>
        </ul><!-- /.thm-breadcrumb -->
        <h2>Reserver une course</h2>
    </div><!-- /.container -->
</section><!-- /.inner-banner -->
<section class="book-ride-two">
    <div class="container">
        <div class="row">
            <div class="col-lg-8">
                <div class="block-title">
                    <div class="dot-line"></div><!-- /.dot-line -->
                    <p>Besoin d'un taxi ou d'un chauffeur ?</p>
                    <h2>Faites votre reservation</h2>
                </div><!-- /.block-title -->
                <form asp-controller="Home" asp-action="AddReservation" class="booking-form-two ">
                    <p>Obtenez une reponse rapide par un de nos agents</p>
                    <h3 class="form-block-title">Remplissez les informations</h3><!-- /.form-block-title -->
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="input-holder">
                                <input asp-for="Name" type="text" name="name" placeholder="Votre nom">
                            </div><!-- /.input-holder -->
                        </div><!-- /.col-lg-6 -->
                        <div class="col-lg-6">
                            <div class="input-holder">
                                <input asp-for="Email" type="text" name="Email" placeholder="adresse courriel">
                            </div><!-- /.input-holder -->
                        </div><!-- /.col-lg-6 -->
                        <div class="col-lg-6">
                            <div class="input-holder">
                                <input asp-for="NumeroTelephone" type="text" name="NumeroTelephone" placeholder="Telephone">
                            </div><!-- /.input-holder -->
                        </div><!-- /.col-lg-6 -->
                        <div class="col-lg-6">
                            <div class="input-holder">
                                <input asp-for="NbrePassager" type="text" name="NbrePassager" placeholder="Passagers 1-3 max" min="1" max="3" step="1">
                            </div><!-- /.input-holder -->
                        </div><!-- /.col-lg-6 -->
                        <div class="col-lg-6">
                            <div class="input-holder">
                                <input asp-for="AdresseDepart" type="text" name="AdresseDepart" placeholder="Adresse de depart">
                            </div><!-- /.input-holder -->
                        </div><!-- /.col-lg-6 -->
                        <div class="col-lg-6">
                            <div class="input-holder">
                                <input asp-for="AdresseDestination" type="text" name="AdresseDestination" placeholder="Adresse de livraison">
                            </div><!-- /.input-holder -->
                        </div><!-- /.col-lg-6 -->
                        <div class="col-lg-6">
                            <div class="input-holder">
                                <input class="form-control" asp-for="DateReservation" type="date" name="DateReservation" placeholder="Select date">
                               @* <i class="fa fa-calendar"></i>*@
                            </div><!-- /.input-holder -->
                        </div><!-- /.col-lg-6 -->
                        <div class="col-lg-6">
                            <div class="input-holder">
                                <div class="input-holder">
                                    <input class="form-control" asp-for="SelectTime" type="time" name="SelectTime" placeholder="Select date">
                                   @* <i class="fa fa-clock"></i>*@
                            </div><!-- /.input-holder -->
                        </div><!-- /.col-lg-6 -->
                    </div><!-- /.row -->
                    
                    @*</div><!-- /.row -->*@
                    <ul class="special-checkbox">
                        <li>
                            <span class="input-checker">
                                    <input asp-for="AgreementIsChecked" type="checkbox" value="">
                            </span>En cochant vous accepter nos termes et conditions.
                        </li>
                    </ul>
                    <button type="submit" class="book-btn">Reserver</button>
                </form><!-- /.booking-form-two -->
            </div><!-- /.col-lg-8 -->
        </div><!-- /.row -->
    </div><!-- /.container -->
</section><!-- /.book-ride-two -->