@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Nos Services";
}
<section class="inner-banner">
    <div class="container">
       @* <ul class="thm-breadcrumb">
            <li><span class="page-title">Qu'offrons nous ? </span></li>
        </ul><!-- /.thm-breadcrumb -->*@
        
        <h1>Nos Services</h1>
        <h2>Nos Services</h2>
    </div><!-- /.container -->
</section><!-- /.inner-banner -->
<section class="offer-style-one">
    <div class="container">
        <div class="block-title text-center">
            <div class="dot-line"></div><!-- /.dot-line -->
            <p>Une estimations de nos prix au depart de l'Essonne</p>
            <h2>Nos tarifs:</h2>
        </div><!-- /.block-title -->
        <div class="row">
            <div class="col-lg-4">
                <div class="single-offer-one hvr-float-shadow">
                    <div class="image-block">
                        <a href="#"><i class="fa fa-link"></i></a>
                        <img src="~/images/resources/imageOrlyredi.jpg" alt="Awesome Image" />
                    </div><!-- /.image-block -->
                    <div class="text-block">
                        <h3><a asp-controller="Home" asp-action="ReserverCourse">Aeroport Orly</a></h3>
                        <p>59 <i class="fa-solid fa-euro-sign"></i>*</p>
                        <a asp-controller="Home" asp-action="ReserverCourse" class="more-link">Reserver </a>
                    </div><!-- /.text-block -->
                </div><!-- /.single-offer-one -->
            </div><!-- /.col-lg-4 -->
            <div class="col-lg-4">
                <div class="single-offer-one hvr-float-shadow">
                    <div class="image-block">
                        <a href="#"><i class="fa fa-link"></i></a>
                        <img src="~/images/resources/cdg-terminal-1.jpg" alt="Awesome Image" />
                    </div><!-- /.image-block -->
                    <div class="text-block">
                        <h3><a asp-controller="Home" asp-action="ReserverCourse">Aeroport Charles de Gaulles</a></h3>
                        <p>59 <i class="fa-solid fa-euro-sign"></i>*</p>
                        <a asp-controller="Home" asp-action="ReserverCourse" class="more-link">Reserver </a>
                    </div><!-- /.text-block -->
                </div><!-- /.single-offer-one -->
            </div><!-- /.col-lg-4 -->
            <div class="col-lg-4">
                <div class="single-offer-one hvr-float-shadow">
                    <div class="image-block">
                        <a href="#"><i class="fa fa-link"></i></a>
                        <img src="~/images/resources/beauvai).jpg" alt="Awesome Image" />
                    </div><!-- /.image-block -->
                    <div class="text-block">
                        <h3><a asp-controller="Home" asp-action="ReserverCourse">Aeroport Beauvais</a></h3>
                        <p>99 <i class="fa-solid fa-euro-sign"></i>*</p>
                        <a asp-controller="Home" asp-action="ReserverCourse" class="more-link">Reserver </a>
                    </div><!-- /.text-block -->
                </div><!-- /.single-offer-one -->
            </div><!-- /.col-lg-4 -->
            
        </div>
        <div class="row">
            <div class="col-lg-4">
                <div class="single-offer-one hvr-float-shadow">
                    <div class="image-block">
                        <a href="#"><i class="fa fa-link"></i></a>
                        <img src="~/images/resources/La_Lentille_Station_Saint-Lazare.jpg" alt="Awesome Image" />
                    </div><!-- /.image-block -->
                    <div class="text-block">
                        <h3><a asp-controller="Home" asp-action="ReserverCourse">Gare Saint Lazare</a></h3>
                        <p>79 euros</p>
                        <a asp-controller="Home" asp-action="ReserverCourse" class="more-link">Reserver </a>
                    </div><!-- /.text-block -->
                </div><!-- /.single-offer-one -->
            </div><!-- /.col-lg-4 -->

            <div class="col-lg-4">
                <div class="single-offer-one hvr-float-shadow">
                    <div class="image-block">
                        <a href="#"><i class="fa fa-link"></i></a>
                        <img src="~/images/resources/apres-quatre-ans-de-travaux-la-gare-montparnasse-est-devenu_5915034).jpg" alt="Awesome Image" />
                    </div><!-- /.image-block -->
                    <div class="text-block">
                        <h3><a asp-controller="Home" asp-action="ReserverCourse">Gare Montparnasse</a></h3>
                        <p>79 <i class="fa-solid fa-euro-sign"></i>*</p>
                        <a asp-controller="Home" asp-action="ReserverCourse" class="more-link">Reserver </a>
                    </div><!-- /.text-block -->
                </div><!-- /.single-offer-one -->
            </div><!-- /.col-lg-4 -->
            <div class="col-lg-4">
                <div class="single-offer-one hvr-float-shadow">
                    <div class="image-block">
                        <a href="#"><i class="fa fa-link"></i></a>
                        <img src="~/images/resources/Gare-de-Lyon.jpg" alt="Awesome Image" />
                    </div><!-- /.image-block -->
                    <div class="text-block">
                        <h3><a asp-controller="Home" asp-action="ReserverCourse">Gare de Lyon</a></h3>
                        <p>59 <i class="fa-solid fa-euro-sign"></i>*</p>
                        <a asp-controller="Home" asp-action="ReserverCourse" class="more-link">Reserver </a>
                    </div><!-- /.text-block -->
                </div><!-- /.single-offer-one -->
            </div><!-- /.col-lg-4 -->
        </div><!-- /.row -->
        <div class="row">
            <div class="col-lg-4">
                <div class="single-offer-one hvr-float-shadow">
                    <div class="image-block">
                        <a href="#"><i class="fa fa-link"></i></a>
                        <img src="~/images/resources/Gare-du-Nord630x405.jpg" alt="Awesome Image" />
                    </div><!-- /.image-block -->
                    <div class="text-block">
                        <h3><a asp-controller="Home" asp-action="ReserverCourse">Gare du Nord</a></h3>
                        <p>59 euros</p>
                        <a asp-controller="Home" asp-action="ReserverCourse" class="more-link">Reserver </a>
                    </div><!-- /.text-block -->
                </div><!-- /.single-offer-one -->
            </div><!-- /.col-lg-4 -->
            <div class="col-lg-4">
                <div class="single-offer-one hvr-float-shadow">
                    <div class="image-block">
                        <a href="#"><i class="fa fa-link"></i></a>
                        <img src="~/images/resources/Gare-de-l-Est-parvis-630x405.jpg" alt="Awesome Image" />
                    </div><!-- /.image-block -->
                    <div class="text-block">
                        <h3><a asp-controller="Home" asp-action="ReserverCourse">Gare de l'Est</a></h3>
                        <p>79 euros</p>
                        <a asp-controller="Home" asp-action="ReserverCourse" class="more-link">Reserver </a>
                    </div><!-- /.text-block -->
                </div><!-- /.single-offer-one -->
            </div><!-- /.col-lg-4 -->
            <div class="col-lg-4">
                <div class="single-offer-one hvr-float-shadow">
                    <div class="image-block">
                        <a href="#"><i class="fa fa-link"></i></a>
                        <img src="~/images/resources/gare-d-austerlitz1250x625.jpg" alt="Awesome Image" />
                    </div><!-- /.image-block -->
                    <div class="text-block">
                        <h3><a asp-controller="Home" asp-action="ReserverCourse">Gare d'Austerlitz</a></h3>
                        <p>79 euros</p>
                        <a asp-controller="Home" asp-action="ReserverCourse" class="more-link">Reserver </a>
                    </div><!-- /.text-block -->
                </div><!-- /.single-offer-one -->
            </div><!-- /.col-lg-4 -->
        </div><!-- /.row -->
        <div class="row">
            <div class="col-lg-4">
                <div class="single-offer-one hvr-float-shadow">
                    <div class="image-block">
                        <a href="#"><i class="fa fa-link"></i></a>
                        <img src="~/images/resources/eiffel-tower-3349075_1920).jpg" alt="Awesome Image" />
                    </div><!-- /.image-block -->
                    <div class="text-block">
                        <h3><a asp-controller="Home" asp-action="ReserverCourse">Tour Eiffel / Champs de Mars</a></h3>
                        <p>59 <i class="fa-solid fa-euro-sign"></i>*</p>
                        <a asp-controller="Home" asp-action="ReserverCourse" class="more-link">Reserver </a>
                    </div><!-- /.text-block -->
                </div><!-- /.single-offer-one -->
            </div><!-- /.col-lg-4 -->
            <div class="col-lg-4">
                <div class="single-offer-one hvr-float-shadow">
                    <div class="image-block">
                        <a href="#"><i class="fa fa-link"></i></a>
                        <img src="~/images/resources/disney.jpg" alt="Awesome Image" />
                    </div><!-- /.image-block -->
                    <div class="text-block">
                        <h3><a asp-controller="Home" asp-action="ReserverCourse">Disney Land Paris</a></h3>
                        <p>79 euros</p>
                        <a asp-controller="Home" asp-action="ReserverCourse" class="more-link">Reserver </a>
                    </div><!-- /.text-block -->
                </div><!-- /.single-offer-one -->
            </div><!-- /.col-lg-4 -->
        </div>
    </div><!-- /.container -->
</section><!-- /.offer-style-one -->
<section class="cta-style-one text-center">
    <div class="container">
        <p>Service 7 / 7 jours </p>
        <h3>Appelez maintenant et reserver <br> votre prochain trajet</h3>
        <a asp-controller="Home" asp-action="ReserverCourse" class="cta-btn">Reserver</a>
    </div><!-- /.container -->
</section><!-- /.cta-style-one -->
