@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<section class="inner-banner">
    <div class="container">
        <ul class="thm-breadcrumb">

            <li><span class="page-title">Qu'offrons nous ? </span></li>
        </ul><!-- /.thm-breadcrumb -->
        <h2>Nos Services</h2>
    </div><!-- /.container -->
</section><!-- /.inner-banner -->

<section class="offer-style-one">
    <div class="container">
        <div class="block-title text-center">
            <div class="dot-line"></div><!-- /.dot-line -->
            <p>Liste non exhaustive contacter nous pour plus d'informations</p>
            <h2>Nos services</h2>
        </div><!-- /.block-title -->
        <div class="row">
            <div class="col-lg-4">
                <div class="single-offer-one hvr-float-shadow">
                    <div class="image-block">
                        <a href="#"><i class="fa fa-link"></i></a>
                        <img src="~/images/resources/eiffel-tower-3349075_1920 (1).jpg" alt="Awesome Image" />
                    </div><!-- /.image-block -->
                    <div class="text-block">
                        <h3><a asp-controller="Home" asp-action="ReserverCourse">Tour Eiffel</a></h3>
                        <p>59 euros</p>
                        <a asp-controller="Home" asp-action="ReserverCourse" class="more-link">Reserver </a>
                    </div><!-- /.text-block -->
                </div><!-- /.single-offer-one -->
            </div><!-- /.col-lg-4 -->
            <div class="col-lg-4">
                <div class="single-offer-one hvr-float-shadow">
                    <div class="image-block">
                        <a href="#"><i class="fa fa-link"></i></a>
                        <img src="~/images/resources/apres-quatre-ans-de-travaux-la-gare-montparnasse-est-devenu_5915034 (1).jpg" alt="Awesome Image" />
                    </div><!-- /.image-block -->
                    <div class="text-block">
                        <h3><a asp-controller="Home" asp-action="ReserverCourse">Gare Montparnasse</a></h3>
                        <p>79 euros</p>
                        <a asp-controller="Home" asp-action="ReserverCourse" class="more-link">Reserver </a>
                    </div><!-- /.text-block -->
                </div><!-- /.single-offer-one -->
            </div><!-- /.col-lg-4 -->
        </div>


    </div><!-- /.container -->
</section><!-- /.offer-style-one -->
<section class="taxi-fare-one">
    <div class="container">
        <div class="block-title text-center">
            <div class="dot-line"></div><!-- /.dot-line -->
            <p>Nos differentes courses</p>
            <h2>Au départ du sud de l'Essonne</h2>
        </div><!-- /.block-title -->
        <div class="row">
            <div class="col-lg-6">
                <div class="single-taxi-fare-one thm-base-bg hvr-float-shadow">
                    <div class="top-block">
                        <div class="icon-block">
                            <i class="fa fa-taxi"></i>
                        </div><!-- /.icon-block -->
                        <div class="text-block">
                            <h3>Aeroport Orly</h3>
                            <p>Terminale 1 et 2</p>
                        </div><!-- /.text-block -->
                    </div><!-- /.top-block -->
                    <ul class="features-list">
                        <li>
                            <div class="name-line">A partir de* :</div><!-- /.name-line -->
                            <div class="price-line"><i class="fa-solid fa-euro-sign"></i>39</div><!-- /.price-line -->
                        </li>

                    </ul><!-- /.features-list -->
                    <div class="button-block">
                        <a asp-controller="home" asp-action="ReserverCourse" class="fare-btn">Reserver</a>
                    </div><!-- /.button-block -->
                </div><!-- /.single-taxi-fare-one -->
            </div><!-- /.col-lg-6 -->
            <div class="col-lg-6">
                <div class="single-taxi-fare-one thm-base-bg hvr-float-shadow">
                    <div class="top-block">
                        <div class="icon-block">
                            <i class="fa fa-taxi"></i>
                        </div><!-- /.icon-block -->
                        <div class="text-block">
                            <h3>Aeroport CDG</h3>
                            <p>Terminal 1, 2 et 3</p>
                        </div><!-- /.text-block -->
                    </div><!-- /.top-block -->
                    <ul class="features-list">
                        <li>
                            <div class="name-line">A partir de* :</div><!-- /.name-line -->
                            <div class="price-line"><i class="fa-solid fa-euro-sign"></i>89</div><!-- /.price-line -->
                        </li>

                    </ul><!-- /.features-list -->
                    <div class="button-block">
                        <a asp-controller="home" asp-action="ReserverCourse" class="fare-btn">Reserver</a>
                    </div><!-- /.button-block -->
                </div><!-- /.single-taxi-fare-one -->
            </div><!-- /.col-lg-6 -->
        </div><!-- /.row -->
        <div class="row">
            <div class="col-lg-6">
                <div class="single-taxi-fare-one thm-base-bg hvr-float-shadow">
                    <div class="top-block">
                        <div class="icon-block">
                            <i class="fa fa-taxi"></i>
                        </div><!-- /.icon-block -->
                        <div class="text-block">
                            <h3>Dysney Land Paris</h3>
                            <p>Gare</p>
                        </div><!-- /.text-block -->
                    </div><!-- /.top-block -->
                    <ul class="features-list">
                        <li>
                            <div class="name-line">A partir de* :</div><!-- /.name-line -->
                            <div class="price-line"><i class="fa-solid fa-euro-sign"></i>89</div><!-- /.price-line -->
                        </li>

                    </ul><!-- /.features-list -->
                    <div class="button-block">
                        <a asp-controller="home" asp-action="ReserverCourse" class="fare-btn">Reserver</a>
                    </div><!-- /.button-block -->
                </div><!-- /.single-taxi-fare-one -->
            </div><!-- /.col-lg-6 -->
            <div class="col-lg-6">
                <div class="single-taxi-fare-one thm-base-bg hvr-float-shadow">
                    <div class="top-block">
                        <div class="icon-block">
                            <i class="fa fa-taxi"></i>
                        </div><!-- /.icon-block -->
                        <div class="text-block">
                            <h3>Gare de Lyon</h3>
                            <p>Gare</p>
                        </div><!-- /.text-block -->
                    </div><!-- /.top-block -->
                    <ul class="features-list">
                        <li>
                            <div class="name-line">A partir de* :</div><!-- /.name-line -->
                            <div class="price-line"><i class="fa-solid fa-euro-sign"></i>49</div><!-- /.price-line -->
                        </li>
                    </ul><!-- /.features-list -->
                    <div class="button-block">
                        <a asp-controller="home" asp-action="ReserverCourse" class="fare-btn">Reserver</a>
                    </div><!-- /.button-block -->
                </div><!-- /.single-taxi-fare-one -->
            </div><!-- /.col-lg-6 -->
        </div>
    </div><!-- /.row -->
    <div class="block-text text-center">
        <a asp-controller="home" asp-action="Services" class="about-btn">En savoir plus</a>
        <p>*Nos prix peuvent sensiblement varié mais vous etes toujours prévénu avant la validation ou contacter un de nos agents pour plus de details.</p>
    </div><!-- /.block-text -->

</section><!-- /.taxi-fare-one -->
<section class="cta-style-one text-center">
    <div class="container">
        <p>Service 7 / 7 jours </p>
        <h3>Appeller maintenant et reserver <br> votre prochain trajet</h3>
        <a asp-controller="Home" asp-action="ReserverCourse" class="cta-btn">Reserver</a>
    </div><!-- /.container -->
</section><!-- /.cta-style-one -->
